@model IEnumerable<ProjetoVarejo.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

@*<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecoVenda)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrecoCusto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PosicaoEstoque)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Especificação)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoCusto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosicaoEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especificação)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- INICIO DO CONTEUDO-->
                    <div class="row">
                        <div class="col">
                            <section>
                                <div class="text-secondary btn btn-primary botao">
                                    <a asp-action="Create"><i class="fa fa-plus-circle"></i>&nbsp;Adicionar Produto</a>
                                </div>
                            </section>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>
                                            Marca
                                        </th>
                                        <th>
                                           Modelo
                                        </th>
                                        <th>
                                            Tipo
                                        </th>
                                        <th>
                                            Preço de Venda
                                        </th>
                                        <th>
                                            Preço de Custo
                                        </th>
                                        <th>
                                            Posição no Estoque
                                        </th>
                                        <th>
                                            Especificação
                                        </th>
                                        <th>
                                            Detalhes
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Marca)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Modelo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Tipo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PrecoVenda)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PrecoCusto)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PosicaoEstoque)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Especificação)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btnCliente">Visualizar</a> 
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- END PAGE CONTAINER-->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
