@model IEnumerable<ProjetoVarejo.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ValorCompra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desconto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CupomDeDesconto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetodoDePagamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCompra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataVencimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaxaDeJuros)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataPagamento)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValorCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desconto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CupomDeDesconto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetodoDePagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVencimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxaDeJuros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendedor.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
