@model IEnumerable<ProjetoVarejo.Models.Estoque>

@{
    ViewData["Title"] = "Index";
}

@*<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataEntrada)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- INICIO DO CONTEUDO-->
                    <div class="row">
                        <div class="col">
                            <section>
                                <div class="text-secondary btn btn-primary botao">
                                    <a asp-action="Create"><i class="fa fa-plus-circle"></i>&nbsp;Adicionar Estoque</a>
                                </div>
                            </section>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>Quantidade</th>
                                        <th>Data de Entrada</th>
                                        <th>Produto</th>
                                        @*<th>Nasc.</th>*@
                                        @*<th>Última Compra</th>*@
                                        @*<th>Detalhes</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Quantidade)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DataEntrada)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Produto.Modelo)
                                            </td>
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.DataNascimento)
                                            </td>*@
                                            @*<td>
                                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-success btnCliente">Visualizar</a>

                                            </td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- END PAGE CONTAINER-->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
