@model IEnumerable<ProjetoVarejo.Models.Produto>

@{
    ViewData["Title"] = "RelPosicaoEstoque";
}

<h2>Relatorio de Produtos no Estoque</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    Posição No Estoque
                </th>
              
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>       
            <td>
                @Html.DisplayFor(modelItem => item.PosicaoEstoque)
            </td>

        </tr>
}
    </tbody>
</table>
